누락값(NaN) : NaN, NAN, nan 등으로 일반적으로 표기   //  
누락값을 처리하기 위해 넘파이가 필요함

In [42]:
from numpy import NaN,NAN,nan # 3개를 다 import 하겠다는 의미
import pandas as pd

In [43]:
print(NaN==True)
print(NaN==False)
print(NaN==0)
print(NaN=='')
print(NaN==NaN)  # 값이 아니기 때문에 비교자체를 수행 못함

# NaN 자체는 특정 값이 아니다(비교가 불가 : False)

False
False
False
False
False

In [44]:
# isnull  :  판다스에서 누락값을 확인하는 매서드

pd.isnull(NAN) #  괄호안에 누락값이 있으므르 'True'
# x=[1,2,3,NaN]
# pd.isnull(x)

True

In [45]:
pd.notnull(10) #10은 누락값이 아니므로 True

True

In [46]:
pd.notnull("test") # test라는 어떠한 값이 존재하므로 True

True

누락값이 발생하는 이유
1) 누락값이 있는 데이터를 연결할 때
2) 데이터 입력시 누락값이 생길 수 있음
3) 범위를 주고 데이터를 추출하고자 할 때
4) 누락값이 포함된 변수와 연산을 수행할 때

In [54]:
visited=pd.read_csv("data/survey_visited.csv")
visited

# NaN이 하나 있음

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [55]:
survey_visited=pd.read_csv("data/survey_survey.csv")
survey

# Nan 두 개 있음

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [56]:
# visited 파일과 survey 파일을 merge 할 때,
vs=visited.merge(survey,left_on="ident",right_on='taken')
vs

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [60]:
num_legs=pd.Series({
    'goal':4,
    'amoeba':nan # Nan 활용
})
num_legs

goal      4.0
amoeba    NaN
dtype: float64

In [62]:
gapminder=pd.read_csv('data/gapminder.tsv',sep='\t')
gapminder

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [131]:
# 연도별로 그룹화한 다음 각 연도별 lifeExp 컬럼의 평균 구하기
life_exp=gapminder.groupby('year')['lifeExp'].mean()
life_exp

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [71]:
life_exp.loc[[2002]]

year
2002    65.694923
Name: lifeExp, dtype: float64

In [69]:
# life_Exp변수에 저장되어 있는 2000~2009년 까지의 데이터를 추출(range 함수 이용)
life_exp.loc[range(2000,2010)],

C:\Users\B-8\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

(year
 2000          NaN
 2001          NaN
 2002    65.694923
 2003          NaN
 2004          NaN
 2005          NaN
 2006          NaN
 2007    67.007423
 2008          NaN
 2009          NaN
 Name: lifeExp, dtype: float64,)

In [74]:
life_exp.iloc[11]

67.00742253521126

In [78]:
y2000=life_exp[life_exp.index>2000] # 불린으로 생성
y2000

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [109]:
# [방법 1]
import numpy as np
ebola=pd.read_csv('data/country_timeseries.csv')
len(ebola)
ebola.index
ebola.columns
ebola.info() # 데이터의 정보를 대략적으로 활용 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [110]:
#[방법 2]
ebola.count() #누락값이 아닌 갯수
ebola.shape #(122, 18) 튜플형태로 출력, 전체 갯수
ebola.shape[0]
ebola.shape[0]-ebola.count() #누락값의 갯수

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [127]:
# [방법 3]
#isnull 사용
ebola.isnull() # null이냐? True는 널, False는 널이 아닌 것

np.count_nonzero(ebola.isnull()) # nonzero:0(False가 아닌 것)
# count_nonzero: 0(False)이 아닌 값들의 갯수를 세는 함수

cnt_nan=122*18-np.count_nonzero(ebola.isnull())
np.count_nonzero(ebola.isnull())
# ebola.isnull() : null이면 True, 아니면 False
# count_nonzero : 0이 아닌 것의 개수(1(True)의 개수)

1214

In [128]:
ebola['Cases_Guinea'].count()  #NaN이 아닌 것들의 개수
# 총 122 개 중, 93개가 NaN이 아님, 29개가 NaN)

93

In [130]:
ebola['Cases_Guinea'].isnull() # NaN 이면 True
np.count_nonzero(ebola['Cases_Guinea'].isnull()) # True의 갯수가 몇개느냐는 의미

29

In [118]:
ebola.Cases_Guinea # ebola['Cases_Guinea']
ebola.Cases_Guinea.value_counts() # 각각의 값들의 개수(NaN은 제외)
ebola.Cases_Guinea.value_counts(dropna=True) # NaN은 제외, 디폴트 값이 True
ebola.Cases_Guinea.value_counts(dropna=False) # NaN을 포함, 내림차순 정렬
ebola.Cases_Guinea.value_counts(dropna=False).head(1) # 상위 1개만 뽑겠다

NaN    29
Name: Cases_Guinea, dtype: int64

누락값 변경 or 삭제

In [121]:
# fillna() : na: NaN, 특정 값으로 Na를 대체

ebola.fillna(0) # NaN 값을 모두 0으로 바꾸겠다
ebola.fillna(0).iloc[0:10,0:5] # 10행 5열로 출력

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [124]:
# 순방향/역방향으로 특정값으로 대체할 때
# ebola
ebola.fillna(method='ffill')
# ffill(forward) : 순방향(위에서 아래로)으로 이동해가면서 NaN을 만나게 되면, 직전에 있던 값으로 NaN을 대체 -> NaN이 없음

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2769.0,8157.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,8018.0,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,3423.0,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,1697.0,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,7977.0,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,3413.0,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,2571.0,7830.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3376.0,2556.0,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,7830.0,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,3376.0,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,2416.0,7797.0,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,3290.0,2085.0,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,7797.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3290.0,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2292.0,7719.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3177.0,1768.0,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.0,7719.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3177.0,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2164.0,7635.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3145.0,1583.0,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.0,7635.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3145.0,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2134.0,7168.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3016.0,1398.0,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,7082.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,2963.0,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1971.0,7069.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,2964.0,1250.0,8.0,0.0,1.0,0.0,5.0
22,11/11/2014,234,1919.0,7069.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2964.0,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1919.0,6878.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2812.0,1187.0,8.0,0.0,1.0,0.0,3.0
24,11/9/2014,232,1878.0,6878.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2812.0,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1878.0,6822.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2836.0,1169.0,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1878.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,1142.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,1054.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.0,6619.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,2766.0,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1731.0,6525.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,2697.0,1070.0,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,0.0,1.0,1.0,1.0,1.0,174.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
93,5/12/2014,51,248.0,12.0,0.0,0.0,1.0,1.0,1.0,1.0,171.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
94,5/10/2014,49,233.0,12.0,0.0,0.0,1.0,1.0,1.0,1.0,157.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
95,5/7/2014,46,236.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,158.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
96,5/5/2014,44,235.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,157.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
97,5/3/2014,42,231.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,155.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
98,5/1/2014,40,226.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,149.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
99,4/26/2014,35,224.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,143.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
100,4/24/2014,33,224.0,35.0,0.0,0.0,1.0,1.0,1.0,1.0,143.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
101,4/23/2014,32,218.0,35.0,0.0,0.0,1.0,1.0,1.0,1.0,141.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
102,4/22/2014,31,218.0,35.0,0.0,0.0,1.0,1.0,1.0,1.0,141.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
103,4/21/2014,30,218.0,34.0,0.0,0.0,1.0,1.0,1.0,1.0,141.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
104,4/20/2014,29,208.0,34.0,0.0,0.0,1.0,1.0,1.0,1.0,136.0,6.0,0.0,0.0,0.0,0.0,1.0,1.0
105,4/17/2014,26,203.0,27.0,0.0,0.0,1.0,1.0,1.0,1.0,129.0,6.0,0.0,0.0,0.0,0.0,1.0,1.0
106,4/16/2014,25,197.0,27.0,0.0,0.0,1.0,1.0,1.0,1.0,122.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0
107,4/15/2014,24,197.0,27.0,12.0,0.0,1.0,1.0,1.0,1.0,122.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0
108,4/14/2014,23,168.0,27.0,12.0,0.0,1.0,1.0,1.0,1.0,108.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0
109,4/11/2014,20,159.0,26.0,2.0,0.0,1.0,1.0,1.0,1.0,106.0,13.0,2.0,0.0,0.0,0.0,1.0,1.0
110,4/9/2014,18,158.0,25.0,2.0,0.0,1.0,1.0,1.0,1.0,101.0,12.0,2.0,0.0,0.0,0.0,1.0,1.0
111,4/7/2014,16,151.0,21.0,2.0,0.0,1.0,1.0,1.0,1.0,95.0,10.0,2.0,0.0,0.0,0.0,1.0,1.0
112,4/4/2014,13,143.0,18.0,2.0,0.0,1.0,1.0,1.0,1.0,86.0,7.0,2.0,0.0,0.0,0.0,1.0,1.0
113,4/1/2014,10,127.0,8.0,2.0,0.0,1.0,1.0,1.0,1.0,83.0,5.0,2.0,0.0,0.0,0.0,1.0,1.0
114,3/31/2014,9,122.0,8.0,2.0,0.0,1.0,1.0,1.0,1.0,80.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0
115,3/29/2014,7,112.0,7.0,2.0,0.0,1.0,1.0,1.0,1.0,70.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0
116,3/28/2014,6,112.0,3.0,2.0,0.0,1.0,1.0,1.0,1.0,70.0,3.0,2.0,0.0,0.0,0.0,1.0,1.0
117,3/27/2014,5,103.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,66.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,62.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,60.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,59.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,29.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0

In [125]:
ebola.fillna(method='bfill')
# bfill(back) : 역방향(아래에서 위로)으로 이동해가면서 NaN을 만나게 되면, 직전에 있던 값으로 NaN을 대체 -> NaN이 없음

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,8166.0,10030.0,20.0,1.0,4.0,1.0,7.0,1786.0,3496.0,2977.0,8.0,0.0,1.0,0.0,6.0
1,1/4/2015,288,2775.0,8166.0,9780.0,20.0,1.0,4.0,1.0,7.0,1781.0,3496.0,2943.0,8.0,0.0,1.0,0.0,6.0
2,1/3/2015,287,2769.0,8166.0,9722.0,20.0,1.0,4.0,1.0,7.0,1767.0,3496.0,2915.0,8.0,0.0,1.0,0.0,6.0
3,1/2/2015,286,2730.0,8157.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3496.0,2827.0,8.0,0.0,1.0,0.0,6.0
4,12/31/2014,284,2730.0,8115.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3471.0,2827.0,8.0,0.0,1.0,0.0,6.0
5,12/28/2014,281,2706.0,8018.0,9446.0,20.0,1.0,4.0,1.0,7.0,1708.0,3423.0,2758.0,8.0,0.0,1.0,0.0,6.0
6,12/27/2014,280,2695.0,7977.0,9409.0,20.0,1.0,4.0,1.0,7.0,1697.0,3413.0,2732.0,8.0,0.0,1.0,0.0,6.0
7,12/24/2014,277,2630.0,7977.0,9203.0,20.0,1.0,4.0,1.0,7.0,1607.0,3413.0,2655.0,8.0,0.0,1.0,0.0,6.0
8,12/21/2014,273,2597.0,7862.0,9004.0,20.0,1.0,4.0,1.0,7.0,1607.0,3384.0,2582.0,8.0,0.0,1.0,0.0,6.0
9,12/20/2014,272,2571.0,7862.0,8939.0,20.0,1.0,4.0,1.0,7.0,1586.0,3384.0,2556.0,8.0,0.0,1.0,0.0,6.0
10,12/18/2014,271,2416.0,7830.0,8356.0,20.0,1.0,4.0,1.0,7.0,1525.0,3376.0,2085.0,8.0,0.0,1.0,0.0,6.0
11,12/14/2014,267,2416.0,7797.0,8356.0,20.0,1.0,4.0,1.0,7.0,1525.0,3290.0,2085.0,8.0,0.0,1.0,0.0,6.0
12,12/9/2014,262,2292.0,7797.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3290.0,1768.0,8.0,0.0,1.0,0.0,6.0
13,12/7/2014,260,2292.0,7719.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3177.0,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2164.0,7719.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3177.0,1583.0,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.0,7635.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3145.0,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2134.0,7635.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3145.0,1398.0,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.0,7168.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3016.0,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2047.0,7168.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,3016.0,1267.0,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,7069.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,2964.0,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1919.0,7069.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2964.0,1187.0,8.0,0.0,1.0,0.0,3.0
22,11/11/2014,234,1919.0,6878.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2812.0,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1878.0,6878.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2812.0,1169.0,8.0,0.0,1.0,0.0,1.0
24,11/9/2014,232,1878.0,6822.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2836.0,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1760.0,6822.0,4862.0,20.0,1.0,4.0,1.0,1.0,1054.0,2836.0,1130.0,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1760.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,1054.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,6525.0,4759.0,20.0,1.0,4.0,1.0,1.0,1054.0,2697.0,1070.0,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.0,6525.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,2697.0,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1667.0,6525.0,5338.0,20.0,1.0,4.0,1.0,1.0,1018.0,2697.0,1510.0,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,143.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,218.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,141.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,34.0,0.0,NaN,NaN,NaN,NaN,NaN,141.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,208.0,34.0,0.0,NaN,NaN,NaN,NaN,NaN,136.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,208.0,34.0,12.0,NaN,NaN,NaN,NaN,NaN,136.0,11.0,2.0,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,27.0,12.0,NaN,NaN,NaN,NaN,NaN,136.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,12.0,NaN,NaN,NaN,NaN,NaN,129.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,12.0,NaN,NaN,NaN,NaN,NaN,122.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,168.0,26.0,12.0,NaN,NaN,NaN,NaN,NaN,108.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,108.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
# ebola
# ebola.interpolate() : NaN을 기준으로 위, 아래 값의 평균(중간값)을 구한다

# NaN 값이 2개가 나오면 그 값을 두개로 나눈 값 대입

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.000000,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.000000,NaN,2977.000000,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.000000,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.000000,NaN,2943.000000,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.000000,8166.000000,9722.0,NaN,NaN,NaN,NaN,NaN,1767.000000,3496.0,2915.000000,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2749.500000,8157.000000,9677.5,NaN,NaN,NaN,NaN,NaN,1753.000000,3496.0,2871.000000,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.000000,8115.000000,9633.0,NaN,NaN,NaN,NaN,NaN,1739.000000,3471.0,2827.000000,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.000000,8018.000000,9446.0,NaN,NaN,NaN,NaN,NaN,1708.000000,3423.0,2758.000000,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.000000,7997.500000,9409.0,NaN,NaN,NaN,NaN,NaN,1697.000000,3418.0,2732.000000,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.000000,7977.000000,9203.0,NaN,NaN,NaN,NaN,NaN,1652.000000,3413.0,2655.000000,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.000000,7919.500000,9004.0,NaN,NaN,NaN,NaN,NaN,1607.000000,3398.5,2582.000000,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.000000,7862.000000,8939.0,NaN,NaN,NaN,NaN,NaN,1586.000000,3384.0,2556.000000,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,2493.500000,7830.000000,8647.5,NaN,NaN,NaN,NaN,NaN,1555.500000,3376.0,2320.500000,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.000000,7813.500000,8356.0,NaN,NaN,NaN,NaN,NaN,1525.000000,3333.0,2085.000000,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,2354.000000,7797.000000,8126.5,NaN,NaN,NaN,NaN,NaN,1476.500000,3290.0,1926.500000,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.000000,7758.000000,7897.0,20.0,1.0,4.0,1.0,7.0,1428.000000,3233.5,1768.000000,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2228.000000,7719.000000,7604.5,20.0,1.0,4.0,1.0,7.0,1377.500000,3177.0,1675.500000,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.000000,7677.000000,7312.0,20.0,1.0,4.0,1.0,7.0,1327.000000,3161.0,1583.000000,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2149.000000,7635.000000,6955.5,20.0,1.0,4.0,1.0,7.0,1293.500000,3145.0,1490.500000,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.000000,7401.500000,6599.0,20.0,1.0,4.0,1.0,7.0,1260.000000,3080.5,1398.000000,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2090.500000,7168.000000,6394.5,20.0,1.0,4.0,1.0,6.5,1237.000000,3016.0,1332.500000,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.000000,7082.000000,6190.0,20.0,1.0,4.0,1.0,6.0,1214.000000,2963.0,1267.000000,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.000000,7075.500000,6073.0,20.0,1.0,4.0,1.0,5.0,1192.000000,2963.5,1250.000000,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1945.000000,7069.000000,5829.5,20.0,1.0,4.0,1.0,4.5,1179.000000,2964.0,1218.500000,8.0,0.0,1.0,0.0,4.0
22,11/11/2014,234,1919.000000,6973.500000,5586.0,20.0,1.0,4.0,1.0,4.0,1166.000000,2888.0,1187.000000,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1898.500000,6878.000000,5477.0,20.0,1.0,4.0,1.0,2.5,1154.000000,2812.0,1178.000000,8.0,0.0,1.0,0.0,2.0
24,11/9/2014,232,1878.000000,6850.000000,5368.0,20.0,1.0,4.0,1.0,1.0,1142.000000,2824.0,1169.000000,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1838.666667,6822.000000,5115.0,20.0,1.0,4.0,1.0,1.0,1112.666667,2836.0,1149.500000,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1799.333333,6619.000000,4862.0,20.0,1.0,4.0,1.0,1.0,1083.333333,2766.0,1130.000000,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.000000,6587.666667,4810.5,20.0,1.0,4.0,1.0,1.0,1054.000000,2743.0,1100.000000,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.000000,6556.333333,4759.0,20.0,1.0,4.0,1.0,1.0,1041.000000,2720.0,1070.000000,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1699.000000,6525.000000,5048.5,20.0,1.0,4.0,1.0,1.0,1029.500000,2697.0,1290.000000,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,174.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
93,5/12/2014,51,248.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,171.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
94,5/10/2014,49,233.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,157.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
95,5/7/2014,46,236.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,158.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
96,5/5/2014,44,235.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,157.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
97,5/3/2014,42,231.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,155.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
98,5/1/2014,40,226.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,149.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
99,4/26/2014,35,224.000000,24.000000,0.0,0.0,1.0,1.0,1.0,1.0,143.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
100,4/24/2014,33,221.000000,35.000000,0.0,0.0,1.0,1.0,1.0,1.0,142.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
101,4/23/2014,32,218.000000,34.666667,0.0,0.0,1.0,1.0,1.0,1.0,141.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
102,4/22/2014,31,214.666667,34.333333,0.0,0.0,1.0,1.0,1.0,1.0,139.333333,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
103,4/21/2014,30,211.333333,34.000000,2.4,0.0,1.0,1.0,1.0,1.0,137.666667,11.0,0.285714,0.0,0.0,0.0,1.0,1.0
104,4/20/2014,29,208.000000,30.500000,4.8,0.0,1.0,1.0,1.0,1.0,136.000000,6.0,0.571429,0.0,0.0,0.0,1.0,1.0
105,4/17/2014,26,203.000000,27.000000,7.2,0.0,1.0,1.0,1.0,1.0,129.000000,9.5,0.857143,0.0,0.0,0.0,1.0,1.0
106,4/16/2014,25,197.000000,27.000000,9.6,0.0,1.0,1.0,1.0,1.0,122.000000,13.0,1.142857,0.0,0.0,0.0,1.0,1.0
107,4/15/2014,24,182.500000,26.666667,12.0,0.0,1.0,1.0,1.0,1.0,115.000000,13.0,1.428571,0.0,0.0,0.0,1.0,1.0
108,4/14/2014,23,168.000000,26.333333,7.0,0.0,1.0,1.0,1.0,1.0,108.000000,13.0,1.714286,0.0,0.0,0.0,1.0,1.0
109,4/11/2014,20,159.000000,26.000000,2.0,0.0,1.0,1.0,1.0,1.0,106.000000,13.0,2.000000,0.0,0.0,0.0,1.0,1.0
110,4/9/2014,18,158.000000,25.000000,2.0,0.0,1.0,1.0,1.0,1.0,101.000000,12.0,2.000000,0.0,0.0,0.0,1.0,1.0
111,4/7/2014,16,151.000000,21.000000,2.0,0.0,1.0,1.0,1.0,1.0,95.000000,10.0,2.000000,0.0,0.0,0.0,1.0,1.0
112,4/4/2014,13,143.000000,18.000000,2.0,0.0,1.0,1.0,1.0,1.0,86.000000,7.0,2.000000,0.0,0.0,0.0,1.0,1.0
113,4/1/2014,10,127.000000,8.000000,2.0,0.0,1.0,1.0,1.0,1.0,83.000000,5.0,2.000000,0.0,0.0,0.0,1.0,1.0
114,3/31/2014,9,122.000000,8.000000,2.0,0.0,1.0,1.0,1.0,1.0,80.000000,4.0,2.000000,0.0,0.0,0.0,1.0,1.0
115,3/29/2014,7,112.000000,7.000000,2.0,0.0,1.0,1.0,1.0,1.0,70.000000,2.0,2.000000,0.0,0.0,0.0,1.0,1.0
116,3/28/2014,6,112.000000,3.000000,2.0,0.0,1.0,1.0,1.0,1.0,70.000000,3.0,2.000000,0.0,0.0,0.0,1.0,1.0
117,3/27/2014,5,103.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,66.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,62.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,60.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,59.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,29.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0